{% extends 'base.html' %}
{% load static %}

{% block title %}Consultar Tutores{% endblock %}

{% block content %}

<div id="view-tutor">
  <div class="d-flex justify-content-between align-items-center mb-4">
      <h1>Consultar Datos del Tutor</h1>
  </div>

  <form method="GET" class="d-flex mb-4">
    <input
      type="text"
      name="busqueda"
      class="form-control w-25 mr-2"
      placeholder="Número de boleta de su hijo"
      value="{{ request.GET.busqueda|default:'' }}"
    />
    <button type="submit" class="btn btnBuscar">Buscar</button>
  </form>

  <h2 class="mb-3 mt-5">Resultados</h2>

  <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido paterno</th>
            <th>Apellido materno</th>
            <th>Boleta Hijo(s)</th> <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for tutor in tutores %}
          <tr>
              <td>{{ tutor.id_tutor }}</td>
              <td>{{ tutor.nombre }}</td>
              <td>{{ tutor.ape_paterno }}</td>
              <td>{{ tutor.ape_materno|default:"" }}</td>
              
              <td>
                  {% for hijo in tutor.alumno_set.all %}
                      {{ hijo.boleta }}{% if not forloop.last %}, <br>{% endif %}
                  {% empty %}
                      <span class="text-muted">--</span>
                  {% endfor %}
              </td>

              <td class="text-center">
                <a href="{% url 'visualizar_tutor' tutor.id_tutor %}" class="btn btnVisualizar text-white text-decoration-none">
                    Visualizar Información
                </a>
              </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="6" class="text-center text-muted"> {% if request.GET.busqueda %}
                    No se encontró ningún tutor relacionado con esa boleta.
                {% else %}
                    Ingrese una boleta para buscar al tutor.
                {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>

{% endblock %}