.izquierda, .derecha {
    height: 100vh;
    width: 100%;
    
}

.izquierda {
    background-color: #0039a6;
}

.derecha {
    background-color: #ffffff;
}

#view-alumno {
    padding: 50px;
}


/* Estilo general de los botones del menú */
.btn {
    background-color: #808080;      /* Azul profesional */
    color: white;                   /* Texto blanco */
    padding: 12px;
    border: none;
    border-radius: 10px;            /* Bordes redondeados bonitos */
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s ease;          /* Animación suave */
}

/* Hover: cuando el mouse pasa por encima */
.btn:hover {
    background-color: #ffffff;      /* Azul más intenso */
    transform: translateY(-2px);    /* Se levanta un poquito */
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

/* Cuando se hace clic */
.btn:active {
    transform: scale(0.96);         /* Se hunde suavemente */
}

/* Para quitar el azul feo del focus */
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}
