{% extends 'base.html' %}
{% load static %}

{% block title %}Consultar Docentes{% endblock %}

{% block content %}

<div id="view-docente">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Consultar Datos del Docente</h1>

    <div class="d-flex flex-column align-items-center">
      <h4>Añadir Docente</h4>

      <a href="{% url 'anadir_docente' %}" class="btn btnAñadirDocente mt-2 text-white text-decoration-none">
          Añadir Docente
      </a>
    </div>

  </div>

  <form method="GET" class="d-flex mb-4">
    <input 
        type="text" 
        name="busqueda" 
        class="form-control w-25 mr-2" 
        placeholder="Número de Empleado" 
        value="{{ request.GET.busqueda|default:'' }}" 
    />
    <button type="submit" class="btn btnBuscar ml-2">Buscar</button>
  </form>

  <h2 class="mb-3 mt-5">Resultados</h2>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Numero de Empleado</th>
        <th>Nombre</th>
        <th>Apellido paterno</th>
        <th>Apellido materno</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for docente in docentes %}
      <tr>
        <td>{{ docente.id_docente }}</td>
        <td>{{ docente.num_empleado }}</td>
        <td>{{ docente.nombre }}</td>
        <td>{{ docente.ape_paterno }}</td>
        <td>{{ docente.ape_materno|default:"" }}</td>
        <td class="text-center">
          <a href="{% url 'visualizar_docente' docente.id_docente %}" class="btn btnVisualizar text-white text-decoration-none">
              Visualizar Información
          </a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6" class="text-center text-muted">
            {% if request.GET.busqueda %}
                No se encontraron docentes con ese número de empleado.
            {% else %}
                Realiza una búsqueda para ver resultados.
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}