{% extends 'base.html' %}
{% load static %}

{% block title %}Consultar Docentes{% endblock %}

{% block content %}

<div id="view-docente">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Consultar Datos del Docente</h1>

    <div class="d-flex flex-column align-items-center">
      <h4>Añadir Docente</h4>

      <a href="{% url 'anadir_docente' %}" class="btn btnAñadirDocente mt-2 text-white text-decoration-none">
          Añadir Docente
      </a>
    </div>

  </div>

  <div class="d-flex mb-4">
    <input type="text" class="form-control w-25 mr-2" placeholder="Número de Empleado" />
    <button class="btn btnBuscar">Buscar</button>
  </div>

  <h2 class="mb-3 mt-5">Resultados</h2>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Numero de Empleado</th>
        <th>Nombre</th>
        <th>Apellido paterno</th>
        <th>Apellido materno</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>xxxxxxxxx</td>
        <td>Ivan Eduardo</td>
        <td>Blanco</td>
        <td>Almazan</td>
        <td class="text-center">
          <a href="{% url 'visualizar_docente' %}" class="btn btnVisualizar text-white text-decoration-none">
              Visualizar Información
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}